.create-job-form {
    text-align: left;
}


.update-job-form {
    text-align: left;
}

.form-button {
    position: sticky;
    bottom:10px;
    display: block;
    margin: .5em auto;
}

.form-title {
    text-align: center;
}