{% load static %} 
 
 
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{% static 'css/main.css' %}">
     <title>All Jobs</title>
 </head>
 <body>
    <a href="{% url 'homepage' %}"> Back </a>
    <h1>All Jobs</h1>
    {% for job in jobs.all %}
        -------------------------
        <a href="{% url 'job-detail' job.id %}">
            <h1> {{job.company}} </h1>
            <ul>
                <h2> {{job.title}} </h2>
            </ul>
        </a>
        -------------------------
    {% endfor %}
 </body>
 </html>
 




