<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cover Letter</title>
</head>
<body>
    <a href="{% url 'homepage' %}"> Back </a>
    <h1> Generated Cover Letter </h1>
    </br>
    </br>
    
    <div class="cover-letter-container">
        <div class="cover-letter-header">
            <h1>Macallan Savett</h1>
            <div class="header-jobrmation-and-links-container">
                <p>
                    805-451-0363 
                        | 
                    <Jsavett@gmail class="com">Jsavett@gmail.com</Jsavett@gmail> 
                        |
                    <a href="">www.linked/in/macallan-savett/</a>
                        |
                    <a href="">https://github.com/Micjoey</a>
                </p>
            </div>
            <div>
                {% now "F jS, Y" %}
            </div>
            <div>
                <h2>Macallan Savett</h2>
                <h2>8875 Ne Spargur Loop</h2>
                <h2>Bainbridge Island, WA 98110</h2>
                <h2>805-451-0363</h2>
                <h2><Jsavett@gmail class="com">Jsavett@gmail.com</Jsavett@gmail></h2>
            </div>
            <div>
                <p>
                    {% if job.recruiter %}
                    <p> Dear {{job.recruiter}}:</p>
                    {% else%}
                    <p> Dear Hiring Manager:</p>
                    {% endif %}
                </p>
                {% comment %} <p> Your need for a {{job.title}} as advertised on the {{job.company}} 
                website is an excellent match to my background and career goals. 
                With my strong education and experience, I am confident I can make 
                an immediate contribution given the opportunity.</p>  {% endcomment %}

               <p> As advertised on the {{job.company}} website, your need for a 
                {{job.title}} is an excellent match to my background 
                and career goals. With my strong education and experience, I am 
                confident I can make an immediate contribution given the opportunity.</p>

                

                {% if  job.pre_bullet_point_paragraph_one%}
                    <p> {{job.pre_bullet_point_paragraph_one}} </p>
                {% endif %}

                {% if  job.pre_bullet_point_paragraph_two%}
                    <p> {{job.pre_bullet_point_paragraph_two}} </p>
                {% endif %}

                <p>Highlights of my qualifications most relevant to your needs include:</p>

                <p>* {{job.top_skills}}</p> 
                
                {% if  job.bullet_point_one%}
                    <p>* {{job.bullet_point_one}}</p> 
                {% endif %}
                {% if  job.bullet_point_two%}
                    <p>* {{job.bullet_point_two}}</p> 
                {% endif %}
                {% if  job.bullet_point_three%}
                    <p>* {{job.bullet_point_three}}</p> 
                {% endif %}
                {% if  job.bullet_point_four%}
                    <p>* {{job.bullet_point_four}}</p> 
                {% endif %}
                {% if  job.bullet_point_five%}
                    <p>* {{job.bullet_point_five}}</p> 
                {% endif %}
                {% if  job.bullet_point_six%}
                    <p>* {{job.bullet_point_six}}</p> 
                {% endif %}
                {% if  job.bullet_point_seven%}
                    <p>* {{job.bullet_point_seven}}</p> 
                {% endif %}
                {% if  job.bullet_point_eight%}
                    <p>* {{job.bullet_point_eight}}</p> 
                {% endif %}
                
                {% if  job.post_bullet_point_paragraph_one%}
                    <p> {{job.post_bullet_point_paragraph_one}} </p>
                {% endif %}

                {% if  job.post_bullet_point_paragraph_two%}
                    <p> {{job.post_bullet_point_paragraph_two}} </p>
                {% endif %}

                These proven abilities can contribute to {{job.Company}} continued success. I would welcome the opportunity to discuss my background with you in detail and to learn more about your company and its goals. 
                </br>
                My résumé is attached and offers additional information about my specific achievements. I look forward to our conversation. 
                </br>
                </br>
                Sincerely, </br>
                Macallan Savett

            </div>
        </div>
        </br>
        </br>
        <a href="{% url 'cover-letter-form' %}"> Another Cover Letter </a>
    </div>

    {% comment %} {{job.company}} {% endcomment %}
</body>
</html>