{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/cover-form-rendered.scss' %}">     
    <title>Cover Letter</title>
</head>
<body>
    <h1> Generated Cover Letter Form 5</h1>
    
    </br>
    </br>
    
    <div class="cover-letter-container">
        <div class="cover-letter-header">
            <div class="header-jobrmation-and-links-container">
                <p>
                    {% if last_user.phone_number %}
                    {{last_user.phone_number}}
                    {% endif %}
                    {% if last_user.email %}
                        | 
                    <Jsavett@gmail class="com">{{last_user.email}}</Jsavett@gmail>
                    {% endif %}
                    {% if last_user.linkedin %}
                        |
                    <a href={{last_user.linkedin}}>{{last_user.linkedin}}</a>
                    {% endif %}
                    {% if last_user.github %}
                        |
                    <a href={{last_user.github}}>{{last_user.github}}</a>
                    {% endif %}
                    {% if last_user.portfolio_website %}
                        |
                    <a href={{last_user.portfolio_website}}>{{last_user.portfolio_website}}</a>
                    {% endif %}
                </p>
            </div>
            <div>
                <p > {% now "F jS, Y" %} </p>
            </div>
            <div>
                <h2>{% if last_user.preferred_name %} {{last_user.preferred_name}} {% else %} {{last_user.first_name}} {% endif %} {{last_user.last_name}}</h2>
                {% if last_user.city_address%}
                    {% if last_user.city_address%}
                        {% if last_user.zip_code%}
                            <h2>{{last_user.street_address}}</h2>
                            <h2>{{last_user.city_address}}, {{last_user.state_address}} {{last_user.zip_code}}</h2>
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if  last_user.phone_number%}
                    <h2>{{last_user.phone_number}}</h2>
                {% endif %}
                {% if last_user.email %}<h2><Jsavett@gmail class="com">{{last_user.email}}</Jsavett@gmail></h2>{% endif %}
                
            </div>
            <div>
                <p>
                    {% if job.recruiter %}
                    <p> Dear {{job.recruiter}}:</p>
                    {% else%}
                    <p> Dear Hiring Manager:</p>
                    {% endif %}
                </p>
                {% comment %} <p> Your need for a {{job.position_title}} as advertised on the {{job.company}} 
                website is an excellent match to my background and career goals. 
                With my strong education and experience, I am confident I can make 
                an immediate contribution given the opportunity.</p>  {% endcomment %}

               <p> As advertised on the {% if job.job_posting_website %}{{job.job_posting_website}}{% else %}{{job.company}}{% endif %} website, your need for a 
                {{job.position_title}} is an excellent match to my background 
                and career goals. With my strong education and experience, I am 
                confident I can make an immediate contribution given the opportunity.</p>

                

                 {% if  job.pre_bullet_point_paragraph_one%}
                    <p> {{job.pre_bullet_point_paragraph_one}} </p>
                {% endif %}

                {% if  job.pre_bullet_point_paragraph_two%}
                    <p> {{job.pre_bullet_point_paragraph_two}} </p>
                {% endif %}

                <p>Highlights of my qualifications most relevant to your needs include:</p>

                <p> * {{job.top_skills}}</p> 
                
                {% if  job.bullet_point_one%}
                    <p> * {{job.bullet_point_one}}</p> 
                {% endif %}
                {% if  job.bullet_point_two%}
                    <p> * {{job.bullet_point_two}}</p> 
                {% endif %}
                {% if  job.bullet_point_three%}
                    <p> * {{job.bullet_point_three}}</p> 
                {% endif %}
                {% if  job.bullet_point_four%}
                    <p> * {{job.bullet_point_four}}</p> 
                {% endif %}
                {% if  job.bullet_point_five%}
                    <p> * {{job.bullet_point_five}}</p> 
                {% endif %}
                {% if  job.bullet_point_six%}
                    <p> * {{job.bullet_point_six}}</p> 
                {% endif %}
                {% if  job.bullet_point_seven%}
                    <p> * {{job.bullet_point_seven}}</p> 
                {% endif %}
                {% if  job.bullet_point_eight%}
                    <p> * {{job.bullet_point_eight}}</p> 
                {% endif %}
                
                {% if  job.post_bullet_point_paragraph_one%}
                    <p> {{job.post_bullet_point_paragraph_one}} </p>
                {% endif %}

                {% if  job.post_bullet_point_paragraph_two%}
                    <p> {{job.post_bullet_point_paragraph_two}} </p>
                {% endif %}

                These proven abilities can contribute to {{job.company}}'s continued success. I would welcome the opportunity to discuss my background with you in detail and to learn more about your company and its goals. 
                </br>
                </br>
                My résumé is attached and offers additional information about my specific achievements. I look forward to our conversation. 
                </br>
                </br>
                Sincerely, </br>
                {% if last_user.preferred_name %} {{last_user.preferred_name}} {% else %} {{last_user.first_name}} {% endif %} {{last_user.last_name}}

            </div>
        </div>
        </br>
        </br>
        <a href="{% url 'cover-letter-form' %}"><button> Another Cover Letter </button> </a> 
            or  
         <a href="{% url 'all-jobs' %}"> <button> All Jobs </button></a>
        
    </div>

    {% comment %} {{job.company}} {% endcomment %}
</body>
</html>