
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">     
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">  
    <link rel="stylesheet" href="{% static 'css/homepage.scss' %}">     
    <link rel="stylesheet" href="{% static 'css/cover-letter-form.css' %}">     
    <title>Edit Job</title>
</head>
<body>
    <div class="information additional-spacing">
        <a href="{% url 'homepage' %}" style="margin: 1em;" class="additional-spacing"> Back To Homepage </a>
        <a href="{% url 'form-template' %}" style="margin: 1em;"  id='homepage-cover-letter-template-button' class="additional-spacing"> New Cover Letter Form </a>
        <a href="{% url 'all-jobs' %}" style="margin: 1em;"  class="additional-spacing"> All Jobs </a>
    </div>
    <h1> Edit Job </h1>
    <form action="{% url 'cover-letter' %}" method="patch" class="cover-letter-form">
        {% csrf_token %}
        <input type="submit" value="Render Template" class="floating-button" id='submit-button'/>
        {{ coverLetterForm }}
    </form>
</body>
</html>