{% load static %}

!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">     
    <title>Job Application Process</title>
</head>
<body>
    <h1>Job Application Process</h1>
    <div class="information">
        <a href="{% url 'cover-letter-form' %}"> Cover Letter Template </a>
        <a href="{% url 'all-jobs' %}"> All Jobs </a>
    </div>
    
</body>
</html>



