{% load static %} 
 

 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">     
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/job-info.scss' %}">     
        <title>All Jobs</title>
 </head>
 <body>
    <a href="{% url 'homepage' %}"> Back To Homepage </a>
    <h1>All User Portfolios: </h1>
    </br>
    
    <ol>
        {% for user in users.all %}
        <div class="job-info-container">
            <ul class="listing-info" style="display: flex;">
            <a href="{% url 'user-detail' user.id %}">
                <h1> {{user.first_name}} {{user.last_name}} </h1>
                {% comment %} <h1> {{user.first_name}} {{user.last_name}} </h1> {% endcomment %}
                <div class='delete-button' style="margin: auto;
    margin-left: 0; width: fit-content;">
                    <a href="{% url 'delete-user-detail' user.id%}">Delete User - {{user.first_name}} {{user.last_name}}<a/>
                </div>
            </a>
            </ul>
        </div>
        {% endfor %}
    </ol>
 </body>
 </html>
 




