
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">     
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">  
    <link rel="stylesheet" href="{% static 'css/cover-letter-form.css' %}">     
    <title>Cover Letter Template Form</title>
</head>
<body>
    <a href="{% url 'homepage' %}"> Back To Homepage </a>
    <a href="{% url 'form-template' %}" id='homepage-cover-letter-template-button'> Cover Letter Template </a>
    
    <h1> User Info Creation Form </h1>
    <form action="{% url 'user-form' %}" method="post" class="cover-letter-form">
        {% csrf_token %}
        <input type="submit" value="Create User" class="floating-button"/>
        {{ userForm }}
    </form>
</body>
</html>