{% load static %} 
 

 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">     
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/job-info.scss' %}">     
        <title>All Jobs</title>
 </head>
<body>
    <a href="{% url 'homepage' %}"> Back To Homepage </a>
    <a href="{% url 'form-template' %}" id='homepage-cover-letter-template-button'> Cover Letter Template </a>
    <a href="{% url 'all-jobs' %}" id='all-jobs-button'> All Jobs </a>
    <div>
        <h1>Active Jobs: </h1>
    </div>
    </br>
    <h2 class="job-count-info">Count of Active Jobs: <span class="job-count-info-count"> {{active_jobs.count}} </span> </h2>
    <ol>
        {% for job in active_jobs.all %}
            <div class="job-info-container">
                <li style='display: flex;'>
                    <a href="{% url 'job-detail' job.id %}" id="{{job.company}} | {{job.position_title}} | {{job.created_date}} | {{job.template_choices}}">
                        <h1>
                            {% if job.company %}
                                {{job.company}} |
                            {% endif %}
                            {% if job.position_title %}
                                {{job.position_title}} |
                            {% endif %}
                            {% if job.created_date %}
                                {{job.created_date}} |
                            {% endif %}
                            {% if job.template_choices %}
                                {{job.template_choices}} |
                            {% endif %}
                            {% if job.job_stage %}
                                {{job.job_stage}} 
                            {% endif %}

                        </h1> 
                    </a>
                    
                    <div class='delete-button' style="margin: auto;
                    margin-left: 0; width: fit-content;">
                        <a href="{% url 'delete-job-detail' job.id%}">Delete {{job.company}}'s {{job.position_title}} role</a>
                    </div>
                </li>
            </div>
        {% endfor %}
    </ol>
    

 </body>
 </html>
 