{% load static %} 
 

 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">     
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/job-info.scss' %}">     
        <title>All Jobs</title>
 </head>
 <body>
    <a href="{% url 'homepage' %}"> Back To Homepage </a>
    <a href="{% url 'cover-letter-form' %}"> Cover Letter Form </a>
    <h1>All Jobs: </h1>
    <h2>Count of Jobs: {{jobs.count}} </h2>
    </br>
    
    <ol>
        {% for job in jobs.all.reverse %}
        <div class="job-info-container">
            <li style='display: flex;'>
                {% comment %} <a href="{% url 'job-detail' job.id %}" >
                    <h1> {{job.company}} | {{job.position_title}} | {{job.created_date}} | {{job.template_choices}}</h1>
                </a> {% endcomment %}
                <a href="{% url 'job-detail' job.id %}" >
                    <h1>
                        {% if job.company %}
                            {{job.company}} |
                        {% endif %}
                        {% if job.position_title %}
                            {{job.position_title}} |
                        {% endif %}
                        {% if job.created_date %}
                            {{job.created_date}} |
                        {% endif %}
                        {% if job.template_choices %}
                            {{job.template_choices}}
                        {% endif %}
                    </h1> 
                </a>
                
                <div class='delete-button' style="margin: auto;
    margin-left: 0; width: fit-content;">
                    <a href="{% url 'delete-job-detail' job.id%}">Delete Job</a>
                </div>
            </li>
        </div>
        {% endfor %}
    </ol>
 </body>
 </html>
 




