{% load static %} 
 

 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">     
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/job-info.scss' %}">     
        <title>All Jobs</title>
 </head>
 <body>
    <a href="{% url 'homepage' %}"> Back </a>
    <a href="{% url 'cover-letter-form' %}"> Cover Letter Form </a>
    <h1>All Jobs: </h1>
    <h2>Count of Jobs: {{jobs.count}} </h2>
    </br>
    
    <ol>
        {% for job in jobs.all %}
        <div class="job-info-container">
            <ul>
            <a href="{% url 'job-detail' job.id %}">
                <h1> {{job.company}} | {{job.title}} | {{job.created_date}} </h1>
            </a>
            </ul>
        </div>
        {% endfor %}
    </ol>
 </body>
 </html>
 




