{% load static %}
    
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">     
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">        <title>Job Info</title>
        <link rel="stylesheet" href="{% static 'css/job-info.scss' %}">
    </head>
    <body>
        <a href="{% url 'all-jobs' %}"> Back </a>
        <h1>Job Info: {{job.position_title}} | {{job.company}}</h1>
        <div class="job-info-container">
            <div class="job-detail-container"> 
                <p> Job Company: </p> <p>{{job.company}} </p>
            </div>
            <div class="job-detail-container"> 
                <p> Job Title: </p> <p> {{job.position_title}} </p>
            </div>
            <div class="job-detail-container"> 
                <p> Job City: </p> <p> {{job.city}} </p>
            </div>
            <div class="job-detail-container"> 
                <p> Job Link: </p> <p class="job-description"> {{job.link}} </p>
            </div>
            </br>
            <div class="job-detail-container"> 
                <p> Job Description: </p> <p class="job-description"> {{job.description}} </p>
            </div>
            </br>
            <div class="job-detail-container"> 
                <p> Top Skills: </p> <p> {{job.top_skills}} </p>
            </div>
            <div class="job-detail-container"> 
                <p> Date Created: </p> <p> {{job.created_date}} </p>
            </div>
            <div class="job-detail-container"> 
                <p> Date Modified: </p> <p> {{job.modified_date}} </p>
            </div>
            {% if job.bullet_point_one %}
                <div class="job-detail-container"> 
                    <p> Line One: </p> <p> {{job.bullet_point_one}} </p>
                </div>
            {% endif %}
            {% if job.bullet_point_two %}
                <div class="job-detail-container"> 
                    <p> Line two: </p> <p> {{job.bullet_point_two}} </p>
                </div>
            {% endif %}
            {% if job.bullet_point_three %}
                <div class="job-detail-container"> 
                    <p> Line three: </p> <p> {{job.bullet_point_three}} </p>
                </div>
            {% endif %}
            {% if job.bullet_point_four %}
                <div class="job-detail-container"> 
                    <p> Line four: </p> <p> {{job.bullet_point_four}} </p>
                </div>
            {% endif %}
            {% if job.bullet_point_five %}
                <div class="job-detail-container"> 
                    <p> Line five: </p> <p> {{job.bullet_point_five}} </p>
                </div>
            {% endif %}
            {% if job.bullet_point_six %}
                <div class="job-detail-container"> 
                    <p> Line six: </p> <p> {{job.bullet_point_six}} </p>
                </div>
            {% endif %}
            {% if job.bullet_point_seven %}
                <div class="job-detail-container"> 
                    <p> Line seven: </p> <p> {{job.bullet_point_seven}} </p>
                </div>
            {% endif %}
            {% if job.bullet_point_eight %}
                <div class="job-detail-container"> 
                    <p> Line eight: </p> <p> {{job.bullet_point_eight}} </p>
                </div>
            {% endif %}
        </div>
        </br>
        </br>
        <div class="job-detail-container">
            {% if 'Standard Job Template' in job.template_choices %}
                {% include 'coverLetters/cover-letter.html' with last_user=job.choice_of_user %}
            {% elif 'Triplebyte (message-version)' in job.template_choices %}
                {% include 'coverLetters/triplebyte-cover-letter.html' with last_user=job.choice_of_user %}
            {% elif 'Non-technical Cover Letter' in job.template_choices %}
                {% include 'coverLetters/non-technical-cover-letter.html' with last_user=job.choice_of_user %}
            {% elif '4' in job.template_choices %}
                {% include 'coverLetters/cover-letter-four' with last_user=job.choice_of_user %}
            {% elif '5' in job.template_choices %}
                {% include 'coverLetters/cover-letter-five' with last_user=job.choice_of_user %}
            
            {% endif %}
        </div>
        
    </body>
    </html>
   
