{% load static %}
    
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">     
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">        
        <title>Job Info</title>
        <link rel="stylesheet" href="{% static 'css/job-info.scss' %}">
    </head>
    <body>
        <a href="{% url 'all-jobs' %}"> Back </a>
        <h1>Job Info: {{job.position_title}} | {{job.company}}</h1>
        <div class="job-info-container">
            {% for key, value in job_object.items %}
                <div class="job-detail-container"> 
                    {% if value %}
                        {% if "https" in value  %}
                            <p> {{key.capitalize}}: </p> <a id="{{key}}" href="{{value}}" target="_blank"> {{value}} </a>
                        {% elif "choice_of_user" in key%}
                            <p> {{key.capitalize}}: </p>  <a id="{{key}}" href={% url 'user-detail' value %} target="_blank" > {{user_detail}} </a>
                        {% else %}
                            <p> {{key.capitalize}}: </p> <p id="{{key}}"> {{value}} </p>
                        {% endif %}

                    {% endif %}
                </div>
            {% endfor %}
        </div>
        </br>
        </br>
        <div class="job-detail-container">
            {% if 'Standard Job Template' in job.template_choices %}
                {% include 'coverLetters/cover-letter.html' with last_user=job.choice_of_user %}
            {% elif 'Triplebyte (message-version)' in job.template_choices %}
                {% include 'coverLetters/triplebyte-cover-letter.html' with last_user=job.choice_of_user %}
            {% elif 'non-technical-cover-letter' in job.template_choices %}
                {% include 'coverLetters/non-technical-cover-letter.html' with last_user=job.choice_of_user %}
            {% elif '4' in job.template_choices %}
                {% include 'coverLetters/cover-letter-four.html' with last_user=job.choice_of_user %}
            {% elif '5' in job.template_choices %}
                {% include 'coverLetters/cover-letter-five.html' with last_user=job.choice_of_user %}
            {% endif %}
        </div>
        
    </body>
    </html>
   
