.job-detail {
    margin: 1em;
    width: 100%;
}

.job-detail-container{
    display: flex;
}

.job-info-field {
    width: fit-content;
    margin-right: .5em;
}

.job-info-data {
    overflow: -moz-scrollbars-vertical; 
    max-height: 10em;
    text-align: left;
    max-width: 70vh;
    /* overflow-y: auto; */
    overflow: auto;
}

.job-detail-mapping-container {
    /* display: flex; */
}

.update-job-container, .cover-letter-container {
    display: none;
}


.job-container {
    display: block;
}

.job-detail {
    text-align: left;
}

.hide-buttons > button {
    margin: .5em;
}

.Pagination-stats, .Pagination-actions > button {
    margin: .5em;
}


.delete-button {
    text-align: left;
    margin: 0em 1em 1em 1em;
}

.job-and-cover-letter-container {
    display: flex;
}