.cover-letter-paragraph {
    h1 { font-family: Calibri,
         Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 23px;
         font-style: normal;
         font-variant: normal;
         font-weight: 700;
         line-height: 23px;
     } 
    h3 { font-family: Calibri,
         Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 17px;
         font-style: normal;
         font-variant: normal;
         font-weight: 700;
         line-height: 23px;
     } 
    p { font-family: Calibri,
         Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 14px;
         font-style: normal;
         font-variant: normal;
         font-weight: 400;
         line-height: 23px;
         background-color: red;
     } 
    blockquote { font-family: Calibri,
         Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 17px;
         font-style: normal;
         font-variant: normal;
         font-weight: 400;
         line-height: 23px;
     } 
    pre { font-family: Calibri,
         Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 11px;
         font-style: normal;
         font-variant: normal;
         font-weight: 400;
         line-height: 23px;
     }
}