{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">     
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/job-info.scss' %}">     
    <title>Job Application Process</title>
</head>
<body>
    <h1>Job Application Process</h1>
    <div class="information">
        <a href="{% url 'template-form' %}" id='homepage-cover-letter-template-button'> Cover Letter Template </a>
        <a href="{% url 'triplebyte-form' %}" id='triplebyte-letter-template-button'> Triplebyte Template </a>
        <a href="{% url 'user-form' %}" id='homepage-user-template-button'> User Creation Form </a>
        <a href="{% url 'all-users' %}" id='homepage-all-users-button'> All Users </a>
        <a href="{% url 'all-jobs'%}" id='homepage-all-jobs-button'> All Jobs </a>
        <a href="/admin"id='homepage-admin-button'> Admin </a>
    </div>
</body>
</html>



