{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">     
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/job-info.scss' %}">     
    <title>Job Application Process</title>
</head>
<body>
    <h1>Job Application Process</h1>
    <div class="information">
        <a href="{% url 'cover-letter-form' %}"> Cover Letter Template </a>
        <a href="{% url 'user-form' %}"> User Creation Form </a>
        <a href="{% url 'all-users' %}"> All Users </a>
        <a href="{% url 'all-jobs' %}"> All Jobs </a>
        <a href="/admin"> Admin </a>
    </div>
</body>
</html>



